@model IEnumerable<Buffet_GUI.Data.DBModels.BuffetReservation>
@{
    ViewData["Title"] = "ShowBuffetReservationsExpected";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<h2>Exptected guests on the given day:</h2>

<table class="table">
    <thead>
        <tr>
            <link rel="stylesheet" href="css/StyleSheet.css" />
            <th>
                @Html.DisplayNameFor(model => model.AllExpectedGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AllExpectedGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfChildren)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date.Date)
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="button" onClick="window.location.reload();">Refresh Page</button>