@model Buffet_GUI.Models.KitchenViewModel

@{
    ViewData["Title"] = "ShowNotCheckInGuests";
}

<h2>Guests not checked in yet on the given date: </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalChildrenNotCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAdultsNotCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNotCheckedIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TotalChildrenNotCheckedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TotalAdultsNotCheckedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.TotalNotCheckedIn)
                </td>

            </tr>
        
    </tbody>
</table>

