@model IEnumerable<Buffet_GUI.Data.DBModels.BuffetReservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Kitchen</h1>

@*<form asp-action="KitchenOverview" method="get">
    <div class="form-group">
        <input type="date" name="dateTime" />
    </div>
    <div class="form-group">
        <input type="submit" value="Show" class="btn btn-primary" />
    </div>
</form>*@




<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllExpectedGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AllExpectedGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfChildren)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Date">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Date">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Date">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
