@model IEnumerable<Buffet_GUI.Data.DBModels.BuffetReservation>

@{
    ViewData["Title"] = "Index";
}

<b>Below it is possible to add expected guests for a given day, and inspect expected guests for all entrys per day</b>

<p>
    <a asp-action="Create">Add expected guests for a given day</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllExpectedGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AllExpectedGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfChildren)
                </td>
            </tr>
        }
    </tbody>
</table>
