@model IEnumerable<Buffet_GUI.Data.DBModels.CheckedInGuest>
@{
    ViewData["Title"] = "ShowCheckedInBuffetList";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<h2>Checked in guests: </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdultsCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildrenCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfAdultsCheckedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfChildrenCheckedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="button" onClick="window.location.reload();">Refresh Page</button>